@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Автор</th>
                <th>Кол-во страниц</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Name</td>
                    <td>@book.Price</td>
                    <td>@book.Author</td>
                    <td>@book.PageCount</td>
                    <td>
                        <a asp-page="Index" asp-page-handler="Delete" asp-route-id="@book.Id" class="btn btn-danger">
                            Delete
                        </a>
                        <form method="post">
                            <input type="submit" value="Edit" asp-page="Index" asp-page-handler="Edit" asp-route-id="@book.Id" />

                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>